@page "/RandomLottieAnimations/{animNumber:int}"
@using System.Net;
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
@inject NumberingHelper numberingHelper
@implements IAsyncDisposable
<PageTitle>Random lottie animations</PageTitle>
<div>
    <div class="playing-container">
        <div class="section-container playing-hero">
            <div @onclick="GoToMainPage" class="playing-container1">
                <svg viewBox="0 0 1024 1024" class="playing-icon">
                    <path d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"></path>
                </svg>
            </div>
            <div class="playing-max-width max-width-container">
                <lottie-player style="width: 300px; height: 300px;" @key=animNumber src="@navigationManager.BaseUri/lottie/@lottieFolderName/(@animNumber).json" speed="1" loop autoplay></lottie-player>
            </div>
            <div class="ContainernextAnimationButton playing-container2">
                <span class="playing-text">
                    <span>@(numberingHelper.MaxLimit - numberingHelper.NumberOfAnimationPlayed + 1) Animations left!</span>
                    <br />
                </span>
                <audio id="audioElement" />
                <button class="playing-button button" id="soundButton" @onpointerup="PlaySound">NEXT ANIMATION</button>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public int animNumber { get; set; } // Parameter used to store the current animation number
    public int NumberOfLotties { get; set; } = 30; // Total number of Lottie animations, initialized to 7.
                                                   // TODO: This number should be loaded from the folder by reading the names of the animations
    public string lottieFolderName { get; set; } = "RandomLottieAnimations"; // Name of the folder where the animations are stored
    IJSObjectReference? jsWrapper { get; set; } // Reference to the JavaScript wrapper
    IJSObjectReference? jsDisableElasticScroll { get; set; } // Reference to the JavaScript wrapper
    //Disabling button
    public async Task DisableButtonManually()
    {
        await Task.Delay(500);
    }
    // Go back to main page
    public async Task GoToMainPage()
    {
        await jsDisableElasticScroll.InvokeVoidAsync("enableElasticScroll");
        // Dispose the JavaScript wrapper
        await DisposeAsync();
        // TODO: Handle the case where animNumber index is 0, which is causing an error
        navigationManager.NavigateTo($"{@navigationManager.BaseUri}/");
    }
    // Method to play the sound of the current animation
    public async Task PlaySound()
    {
        // Remove the current animation number from the list of animation numbers
        numberingHelper.LottieAnimList = numberingHelper.LottieAnimList.Where(x => x != animNumber).ToList();
        // Check if the count of items in LottieAnimList is less than or equal to 1
        if (numberingHelper.LottieAnimList.ToList().Count <= 1)
        {
            // Set the value of LottieAnimList to a range of numbers from 1 to NumberOfLotties
            numberingHelper.LottieAnimList = Enumerable.Range(1, NumberOfLotties);
        }
        // Invoke the playAudio method of the JavaScript wrapper
        await jsWrapper.InvokeVoidAsync("playAudio");
        // Wait for 1 second
        //await Task.Delay(500);
        // Select a random animation number from the list of animation numbers
        Random rnd = new Random();
        int randomIndex = rnd.Next(numberingHelper.LottieAnimList.Count());
        animNumber = numberingHelper.LottieAnimList.ElementAt(randomIndex);
        // Increment the number of animations played
        numberingHelper.NumberOfAnimationPlayed++;
        // Navigate to the next animation
        await NavigateToNextAnimation();
    }
    // Method to navigate to the next animation
    public async Task NavigateToNextAnimation()
    {
        // If the number of animations played is greater than the maximum limit, or if there is only one animation left,
        // navigate to the root page
        if (numberingHelper.NumberOfAnimationPlayed - 1 > numberingHelper.MaxLimit)
        {
            await Task.Delay(800);
            await GoToMainPage();
        }
        else
        {
            // Otherwise, navigate to the next animation
            navigationManager.NavigateTo($"{lottieFolderName}/{animNumber}");
            await Task.Delay(8000);
            await jsWrapper.InvokeVoidAsync("loadAudio");
        }
    }
    // Initialize the LottieAnimList property with a list of integers from 1 to NumberOfLotties
    protected override async Task OnInitializedAsync()
    {
        {
            string pathToSoundJs = $"{navigationManager.BaseUri}/scripts/sound.js";
            string pathToDisableElasticScrollJs = $"{navigationManager.BaseUri}/scripts/disableElasticScroll.js";
            jsWrapper = await JSRuntime.InvokeAsync<IJSObjectReference>("import", pathToSoundJs);
            jsDisableElasticScroll = await JSRuntime.InvokeAsync<IJSObjectReference>("import", pathToDisableElasticScrollJs);
            await jsWrapper.InvokeVoidAsync("loadAudioFirstTime");
            await jsDisableElasticScroll.InvokeVoidAsync("disableElasticScroll");
            numberingHelper.LottieAnimList = Enumerable.Range(1, NumberOfLotties);
        }
    }
    // Method to dispose the audio and dispose the jsWrapper
    public async ValueTask DisposeAsync()
    {
        if (jsWrapper != null || jsDisableElasticScroll != null)
        {
            //await jsWrapper.InvokeVoidAsync("disposeAudio");
            await jsWrapper.DisposeAsync();
            await jsDisableElasticScroll.DisposeAsync();
        }
    }
}