@page "/RandomLottieAnimations/{animNumberOld:int}"
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager
@inject NumberingHelper numberingHelper
<PageTitle>Random lottie animations</PageTitle>

<div>
    <div class="playing-container">
        <div class="playing-hero section-container">
            <div class="playing-max-width max-width-container">
                <div class="playing-hero1">
                    <lottie-player class="playing-image" @key=animNumberOld src="@navigationManager.BaseUri/lottie/@lottieFolderName/(@animNumberOld).json" speed="1" loop autoplay></lottie-player>
                    <div class="playing-container1">
                        <div class="playing-info">
                            <span class="playing-text">
                                <span>@(numberingHelper.MaxLimit - numberingHelper.NumberOfAnimationPlayed + 1) Animations left!</span>
                                <br />
                            </span>
                        </div>
                        <div class="playing-btn-group">
                            <audio id="sound" src="@navigationManager.BaseUri/sound/correct.mp3" @onended="SoundIsFinished" />
                            <button class="playing-button button" id="soundButton" @onclick="PlaySound" disabled="@IsDisabled">NEXT ANIMATION</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int animNumberOld { get; set; }
    public int animNumberNew { get; set; }
    public bool IsDisabled { get; set; } = false;
    public int numberOfAnimations { get; set; } = 30;
    public string lottieFolderName { get; set; } = "RandomLottieAnimations";
    Random rnd = new Random();

    public void SoundIsFinished()
    {
        IsDisabled = false;
    }

    public async Task PlaySound()
    {
        IsDisabled = true;
        await JSRuntime.InvokeAsync<string>("PlayAudio", "sound");
        animNumberNew = rnd.Next(1, numberOfAnimations);
        while (animNumberOld == animNumberNew)
        {
            animNumberNew = rnd.Next(1, numberOfAnimations);
        }
        numberingHelper.NumberOfAnimationPlayed++;
        NavigateToNextAnimation();
    }

    public void NavigateToNextAnimation()
    {
        if (numberingHelper.NumberOfAnimationPlayed - 1 > numberingHelper.MaxLimit)
        {
            navigationManager.NavigateTo($"{@navigationManager.BaseUri}/");
        }
        else
        {
            navigationManager.NavigateTo($"{lottieFolderName}/{animNumberNew}");
        }
    }
}