.playing-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}
.playing-icon {
    width: 24px;
    height: 24px;
    display: none;
}
.playing-max-width {
    max-width: 1032px;
}
.playing-image {
    width: 480px;
    position: relative;
    max-width: 579px;
    box-sizing: border-box;
    max-height: 579px;
    object-fit: cover;
    border-color: transparent;
}
.playing-text {
    color: var(--dl-color-gray-black50);
    font-size: 12px;
    align-self: center;
    text-align: left;
    font-family: Jost;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
}
.playing-button {
    width: 100%;
    justify-content: center;
}
@media(max-width: 991px) {
    .playing-button {
        width: auto;
    }
}
@media(max-width: 479px) {
    .playing-hero {
        position: relative;
        padding-top: 0px;
        flex-direction: column;
        padding-bottom: 0px;
    }
    .playing-container1 {
        top: 2%;
        right: 2%;
        width: 40px;
        height: 40px;
        z-index: 1000;
        position: absolute;
        align-items: center;
        align-content: center;
    }
    .playing-icon {
        top: 0px;
        left: 0px;
        display: flex;
        position: absolute;
        margin-top: 8px;
        margin-left: 8px;
    }
    .playing-max-width {
        height: 80%;
        position: relative;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .playing-image {
        width: 300px;
        height: 300px;
    }
    .playing-container2 {
        align-items: center;
        margin-right: 0px;
        padding-right: 0px;
    }
    .playing-text {
        color: var(--dl-color-gray-black50);
        font-size: 12px;
        text-align: center;
        font-family: Jost;
        font-weight: 600;
        line-height: 18px;
        text-transform: uppercase;
    }
    /*    .playing-button {
        color: rgba(255, 255, 255, 0.8);
        width: auto;
        height: auto;
        font-size: 17px;
        text-align: center;
        font-weight: 600;
        padding-top: var(--dl-space-space-oneandhalfunits);
        border-width: 0px;
        padding-left: var(--dl-space-space-threeunits);
        border-radius: 10px;
        padding-right: var(--dl-space-space-threeunits);
        padding-bottom: var(--dl-space-space-oneandhalfunits);
        background-color: rgb(72, 214, 47);
    }*/
    .playing-button {
        border: 2px solid #7ac70c;
        border-bottom-width: 6px;
        border-radius: 10px;
        padding: 20px 30px;
        background-color: #8ee000;
        color: #fff;
        font-size: 25px;
        cursor: pointer;
        outline: none;
        transition: .07s;
        -webkit-tap-highlight-color: transparent;
    }
        .playing-button:active {
            border-bottom-width: 2px;
            margin-top: 4px;
        }
}
