@page "/credit"
@inject NavigationManager navigationManager
<div class="credit-container">
    <div class="credit-container1">
        <div class="credit-navbar">
            <header data-role="Header"
                    class="credit-header max-width-container">
                <span class="navbar-logo-title credit-logo-center">
                    <span>CREDITS</span>
                    <span class="credit-text001">(thank you)</span>
                </span>
                <svg viewBox="0 0 1024 1024" class="credit-icon" @onclick="@(() => navigationManager.NavigateTo(navigationManager.BaseUri))">
                    <path d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"></path>
                </svg>
            </header>
        </div>
        <div class="credit-hero section-container">
            <div class="credit-max-width max-width-container">
                <div class="credit-hero1">
                    <span class="credit-text002">For lottie animations:</span>
                    <span>
                        <span>
                            Animation 'cat-playing-animation' created by 'Abdul Latif' --&gt; link:
                            <a href="https://lottiefiles.com/117326-cat-playing-animation">https://lottiefiles.com/117326-cat-playing-animation</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'sleepy-cat' created by 'Julio' --&gt; link:
                            <a href="https://lottiefiles.com/29280-sleepy-cat">https://lottiefiles.com/29280-sleepy-cat</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'salad-cat' created by 'Jeffrey Christopher' --&gt; link:
                            <a href="https://lottiefiles.com/47267-salad-cat">https://lottiefiles.com/47267-salad-cat</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'cat-idle-simple-2' created by 'Peter H' --&gt; link:
                            <a href="https://lottiefiles.com/77777-cat-idle-simple-2">https://lottiefiles.com/77777-cat-idle-simple-2</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'sad-cat' created by 'Alexandra Balogh' --&gt; link:
                            <a href="https://lottiefiles.com/44954-sad-cat">https://lottiefiles.com/44954-sad-cat</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'orange-cat' created by 'aan hamdani' --&gt; link:
                            <a href="https://lottiefiles.com/14637-orange-cat">https://lottiefiles.com/14637-orange-cat</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'the-nyan-cat' created by 'vik4graphic' --&gt;
                            link: <a href="https://lottiefiles.com/7148-the-nyan-cat">https://lottiefiles.com/7148-the-nyan-cat</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'cat-sneaking' created by 'LottieIcon' --&gt;
                            link: <a href="https://lottiefiles.com/123760-cat-sneaking">https://lottiefiles.com/123760-cat-sneaking</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'meditating-panda' created by 'Ahmed Butt' --&gt;
                            link: <a href="https://lottiefiles.com/125469-meditating-panda">https://lottiefiles.com/125469-meditating-panda</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'running' created by 'Deniels Bērziņš' --&gt; link:
                            <a href="https://lottiefiles.com/125597-running">https://lottiefiles.com/125597-running</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'bird-music-like' created by 'Any Motions' --&gt;
                            link: <a href="https://lottiefiles.com/124761-bird-music-like">https://lottiefiles.com/124761-bird-music-like</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'vehicle-morphing-animation' created by 'Ghanshyam' --&gt; link:
                            <a href="https://lottiefiles.com/118197-vehicle-morphing-animation">https://lottiefiles.com/118197-vehicle-morphing-animation</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'hip-hop-waling-rabbit' created by 'Amfri Zaldi'
                            --&gt; link:
                            <a href="https://lottiefiles.com/115190-hip-hop-waling-rabbit">https://lottiefiles.com/115190-hip-hop-waling-rabbit</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'alien-going-to-space-emoji-animation' created by
                            'Abdul Latif' --&gt; link:
                            <a href="https://lottiefiles.com/113795-alien-going-to-space-emoji-animation">https://lottiefiles.com/113795-alien-going-to-space-emoji-animation</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'space-travel-icon-animation' created by 'Abdul Latifd' -->
                            link: <a href="https://lottiefiles.com/111458-space-travel-icon-animation">https://lottiefiles.com/111458-space-travel-icon-animation</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'rocket-launch-animation-space-exploration' created by 'Abdul Latif' -->
                            link: <a href="https://lottiefiles.com/110955-rocket-launch-animation-space-exploration">https://lottiefiles.com/110955-rocket-launch-animation-space-exploration</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'popeye' created by 'Bashir Ahmed' -->
                            link: <a href="https://lottiefiles.com/110304-popeye">https://lottiefiles.com/110304-popeye</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'location-pin' created by 'fruzzdigital' -->
                            link: <a href="https://lottiefiles.com/109509-location-pin">https://lottiefiles.com/109509-location-pin</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'worm-loader' created by 'Jeremy' --> link: <a href="https://lottiefiles.com/108078-worm-loader">https://lottiefiles.com/108078-worm-loader</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'enjoying-sloth' created by 'Bashir Ahmed' --> link: <a href="https://lottiefiles.com/108020-enjoying-sloth">https://lottiefiles.com/108020-enjoying-sloth</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'macho-man' created by 'Bashir Ahmed' --> link: <a href="https://lottiefiles.com/107411-macho-man">https://lottiefiles.com/107411-macho-man</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'weightlifter' created by 'Bashir Ahmed' --> link: <a href="https://lottiefiles.com/106750-weightlifter">https://lottiefiles.com/106750-weightlifter</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'whistlin-koala' created by 'Kyle Ussery' --> link: <a href="https://lottiefiles.com/105836-whistlin-koala">https://lottiefiles.com/105836-whistlin-koala</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'berry-the-old-man' created by 'Bashir Ahmed' --> link: <a href="https://lottiefiles.com/105188-berry-the-old-man">https://lottiefiles.com/105188-berry-the-old-man</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'friendly-owl' created by 'Kyle Ussery' --> link: <a href="https://lottiefiles.com/104753-friendly-owl">https://lottiefiles.com/104753-friendly-owl</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'wolverine' created by 'Bashir Ahmed' --> link: <a href="https://lottiefiles.com/103781-wolverine">https://lottiefiles.com/103781-wolverine</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'line-animation' created by 'ahmad' --> link: <a href="https://lottiefiles.com/103039-line-animation">https://lottiefiles.com/103039-line-animation</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'icon-tattoo' created by 'Ludovic Tardif' --> link: <a href="https://lottiefiles.com/107245-icon-tattoo">https://lottiefiles.com/107245-icon-tattoo</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'hola' created by 'PuliGraphics' --> link: <a href="https://lottiefiles.com/79620-hola">https://lottiefiles.com/79620-hola</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Loading Cat' created by 'Phuong-Anh Nguyen' --> link: <a href="https://lottiefiles.com/116545-loading-cat">https://lottiefiles.com/116545-loading-cat</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Le Petit Chat Cat Noir' created by 'Tom Fabre' --> link: <a href="https://lottiefiles.com/78625-le-petit-chat-cat-noir">https://lottiefiles.com/78625-le-petit-chat-cat-noir</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Lovely Cats' created by 'mvsaffa' --> link: <a href="https://lottiefiles.com/46864-lovely-cats">https://lottiefiles.com/46864-lovely-cats</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Creepy Black Cat' created by 'Bashir Ahmed PRO' --> link: <a href="https://lottiefiles.com/86330-creepy-black-cat">https://lottiefiles.com/86330-creepy-black-cat</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Bad Cat' created by 'Mari-Marina' --> link: <a href="https://lottiefiles.com/87174-bad-cat">https://lottiefiles.com/87174-bad-cat</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Cat is Sleeping and Rolling' created by 'Cảnh Ngô' --> link: <a href="https://lottiefiles.com/57071-cat-is-sleeping-and-rolling">https://lottiefiles.com/57071-cat-is-sleeping-and-rolling</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Ssssttt… Shut up! The Cat is Sleeping' created by 'Bayu Febrianto' --> link: <a href="https://lottiefiles.com/67834-ssssttt-shut-up-the-cat-is-sleeping">https://lottiefiles.com/67834-ssssttt-shut-up-the-cat-is-sleeping</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Cat in the Box' created by 'Tom Fabre' --> link: <a href="https://lottiefiles.com/78981-cat-in-the-box">https://lottiefiles.com/78981-cat-in-the-box</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Cat Coding' created by 'Karan Mhatre' --> link: <a href="https://lottiefiles.com/59352-cat-coding">https://lottiefiles.com/59352-cat-coding</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Lurking Cat' created by 'Denys Zavalii' --> link: <a href="https://lottiefiles.com/46472-lurking-cat">https://lottiefiles.com/46472-lurking-cat</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Lazy Cat' created by 'Manoj Kumar' --> link: <a href="https://lottiefiles.com/20894-lazy-cat">https://lottiefiles.com/20894-lazy-cat</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Cat with Letter' created by 'jsraccoon' --> link: <a href="https://lottiefiles.com/96179-cat-with-letter">https://lottiefiles.com/96179-cat-with-letter</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Fat Cat Wants to Chat' created by 'Rikki Janae' --> link: <a href="https://lottiefiles.com/91743-fat-cat-wants-to-chat">https://lottiefiles.com/91743-fat-cat-wants-to-chat</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Very Peri Cat Blink and Meow' created by 'konstaner' --> link: <a href="https://lottiefiles.com/91812-very-peri-cat-blink-and-meow">https://lottiefiles.com/91812-very-peri-cat-blink-and-meow</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Patuska Cat' created by 'Patricia Salgueiro' --> link: <a href="https://lottiefiles.com/91455-patuska-cat">https://lottiefiles.com/91455-patuska-cat</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Autumn Cat' created by 'Alesya Sarycheva' --> link: <a href="https://lottiefiles.com/91509-autumn-cat">https://lottiefiles.com/91509-autumn-cat</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Cat Halloween' created by 'baba g' --> link: <a href="https://lottiefiles.com/88641-cat-halloween">https://lottiefiles.com/88641-cat-halloween</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Cat Sleeping' created by 'Ridwan Ridun' --> link: <a href="https://lottiefiles.com/78912-cat-sleeping">https://lottiefiles.com/78912-cat-sleeping</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Cat Sleeping' created by 'Haligul Jaman' --> link: <a href="https://lottiefiles.com/76267-cat-sleeping">https://lottiefiles.com/76267-cat-sleeping</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Space Cat' created by 'Asad' --> link: <a href="https://lottiefiles.com/75715-space-cat">https://lottiefiles.com/75715-space-cat</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Cat Agent 007' created by 'thrive.io' --> link: <a href="https://lottiefiles.com/6890-cat-agent-007">https://lottiefiles.com/6890-cat-agent-007</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Hoverboard Cat' created by 'Ken Diva' --> link: <a href="https://lottiefiles.com/65340-hoverboard-cat">https://lottiefiles.com/65340-hoverboard-cat</a>
                        </span>
                        <br />
                        <br />
                        <span>
                            Animation 'Cat in Box' created by 'Cảnh Ngô' --> link: <a href="https://lottiefiles.com/56906-cat-in-box">https://lottiefiles.com/56906-cat-in-box</a>
                        </span>
                        <br />
                        <br />
                         <span>
                                Animation 'Cat Escape' created by 'Mishal Alnazawi' --> link: <a href="https://lottiefiles.com/38910-cat-escape">https://lottiefiles.com/38910-cat-escape</a>
                            </span>
                            <br />
                            <br />
                            <span>
                                Animation 'Cat Loading' created by 'Mr. Lonely' --> link: <a href="https://lottiefiles.com/36413-cat-loading">https://lottiefiles.com/36413-cat-loading</a>
                            </span>
                            <br />
                            <br />
                            <span>
                                Animation 'Red Cat with a Witch’s Hat' created by 'Alexander Rozhkov' --> link: <a href="https://lottiefiles.com/34998-red-cat-with-a-witchs-hat">https://lottiefiles.com/34998-red-cat-with-a-witchs-hat</a>
                            </span>
                            <br />
                            <br />
                            <span>
                                Animation 'Cat Waiting for Milk' created by 'shivani bai' --> link: <a href="https://lottiefiles.com/33898-cat-waiting-for-milk">https://lottiefiles.com/33898-cat-waiting-for-milk</a>
                            </span>
                            <br />
                            <br />
                            <span>
                                Animation 'Black Cat' created by 'aan hamdani' --> link: <a href="https://lottiefiles.com/14635-black-cat">https://lottiefiles.com/14635-black-cat</a>
                            </span>
                            <br />
                            <br />
                            <span>
                                Animation 'Halloween Cat' created by 'Margarita Maikova' --> link: <a href="https://lottiefiles.com/125110-halloween-cat">https://lottiefiles.com/125110-halloween-cat</a>
                            </span>
                            <br />
                            <br />
                            <span>
                                Animation 'Cat Laughing Loudly Hahahahlol Emojisticker Animation' created by 'Abdul Latif' --> link: <a href="https://lottiefiles.com/113126-cat-laughing-loudly-hahahahlol-emojisticker-animation">https://lottiefiles.com/113126-cat-laughing-loudly-hahahahlol-emojisticker-animation</a>
                            </span>
                            <br />
                            <br />
                            <span>
                                Animation 'Cat Playing with Yarn' created by 'Hiren Patel' --> link: <a href="https://lottiefiles.com/110462-cat-playing-with-yarn">https://lottiefiles.com/110462-cat-playing-with-yarn</a>
                            </span>
                            <br />
                            <br />
                            <span>
                                Animation 'Lazy Cat' created by 'Semprong' --> link: <a href="https://lottiefiles.com/109820-lazy-cat">https://lottiefiles.com/109820-lazy-cat</a>
                            </span>
                            <br />
                            <br />
                    </span>
                    <span class="credit-text089">
                        <span>For sounds:</span>
                        <br />
                    </span>
                    <span class="credit-text092">
                        <span>Sound from</span>
                        <a href="https://zapsplat.com"
                           target="_blank"
                           rel="noreferrer noopener"
                           class="credit-link">
                            Zapsplat.com
                        </a>
                    </span>
                    <span class="credit-text094">
                        <span>For font</span>
                        <br />
                    </span>
                    <span class="credit-text097">
                        <span>Used font -> </span>
                        <a href="https://github.com/indestructible-type/Jost"
                           target="_blank"
                           rel="noreferrer noopener">
                            Jost
                        </a>
                        <br />
                    </span>
                    <span class="credit-text094">
                        <span>For inspiration and web UI tool:</span>
                        <br />
                    </span>
                    <span class="credit-text097">
                        <span>Webapp designed (and inspired) in</span>
                        <a href="https://teleporthq.io"
                           target="_blank"
                           rel="noreferrer noopener">
                            teleporthq.io
                        </a>
                        <br />
                    </span>
                    <span class="credit-text097">
                        <span>For PWA "Updater"" feature by Wouter Huysentruit</span>
                        <a href="https://whuysentruit.medium.com/blazor-wasm-pwa-adding-a-new-update-available-notification-d9f65c4ad13"
                           target="_blank"
                           rel="noreferrer noopener">
                            medium.com
                        </a>
                        <br />
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
