/*Copyright 2020 The Jost Project Authors (https://github.com/indestructible-type/Jost)*/
@font-face {
    font-family: 'Jost';
    src: url('./fonts/jost-variablefont_wght-webfont.woff2') format('woff2'), url('./fonts/jost-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.home-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
    align-items: center;
    padding-top: 70px;
    flex-direction: column;
    background-color: var(--dl-color-pallet-green);
}
.home-navbar {
    top: 0;
    width: 100%;
    display: flex;
    z-index: 1000;
    position: fixed;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-pallet-green);
}
.home-header {
    padding-top: var(--dl-space-space-twounits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
}
.home-hero {
    height: 100%;
    min-height: 100vh;
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
    background-color: var(--dl-color-pallet-green);
}
.home-max-width {
    max-width: 1032px;
}
.home-hero1 {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.home-container1 {
    display: flex;
    margin-right: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
}
.home-info {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    border-color: transparent;
    margin-bottom: var(--dl-space-space-threeunits);
}
.home-image {
    width: 2px;
    height: 52px;
    margin: 0 14px 0 0;
    position: relative;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.5);
}
.home-text {
    color: var(--dl-color-gray-black50);
    font-size: 12px;
    text-align: left;
    font-family: Jost;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
}
.home-text05 {
    max-width: 450px;
    margin-bottom: var(--dl-space-space-threeunits);
}
.home-textinput {
    color: #000000;
    text-align: center;
    background-color: #f1f7f0;
}
.home-btn-group {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    flex-direction: row;
}
.home-button {
    width: 100%;
    margin-top: var(--dl-space-space-unit);
    text-align: center;
    margin-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
}
.home-btn-group1 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.home-button1 {
    width: 100%;
    justify-content: center;
}
.home-image1 {
    width: 100%;
    position: relative;
    max-width: 579px;
    box-sizing: border-box;
    max-height: 579px;
    object-fit: cover;
    border-color: transparent;
}
.home-text10 {
    color: var(--dl-color-gray-black50);
    font-size: 12px;
    text-align: left;
    font-family: Jost;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
}
.home-container-modal-docx {
    gap: var(--dl-space-space-unit);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    display: none;
    padding: var(--dl-space-space-twounits);
    z-index: 1000;
    position: fixed;
    transform: translate(-50%, -50%);
    align-self: flex-start;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius8);
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.76);
}
.home-text11 {
    color: var(--dl-color-gray-white);
    font-size: 25px;
}
.home-icon {
    fill: var(--dl-color-gray-white);
    width: 24px;
    height: 24px;
}
.home-container2 {
    gap: var(--dl-space-space-halfunit);
    display: flex;
    padding: var(--dl-space-space-halfunit);
    align-items: center;
    border-color: white;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius8);
    justify-content: center;
    background-color: rgba(217, 217, 217, 0.51);
}
.home-text12 {
    color: var(--dl-color-gray-white);
    font-size: 25px;
}
.home-icon2 {
    fill: var(--dl-color-gray-white);
    width: 24px;
    height: 24px;
}
.home-icon4 {
    fill: var(--dl-color-gray-white);
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
}
@media(max-width: 991px) {
    .home-hero1 {
        flex-direction: column;
    }
    .home-container1 {
        align-items: center;
        margin-right: 0px;
        margin-bottom: var(--dl-space-space-twounits);
        padding-right: 0px;
    }
    .home-text05 {
        text-align: center;
    }
    .home-container-modal-docx {
        display: flex;
    }
}
@media(max-width: 767px) {
    .home-hero {
        padding-top: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-unit);
    }
    .home-hero1 {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }
}
@media(max-width: 479px) {
    .home-container {
        padding-top: 55px;
    }
    .home-header {
        height: 63px;
        padding: var(--dl-space-space-unit);
        align-self: center;
        justify-content: center;
    }
    .home-logo-center {
        margin-right: 0px;
    }
    .home-hero {
        height: 100%;
        min-height: 100vh;
    }
    .home-max-width {
        position: relative;
        align-items: flex-start;
        flex-direction: column;
    }
    .home-hero1 {
        padding-top: var(--dl-space-space-twounits);
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-twounits);
    }
    .home-container1 {
        width: auto;
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: var(--dl-space-space-unit);
    }
    .home-text {
        color: var(--dl-color-gray-black50);
    }
    .home-textinput {
        color: #080707;
        width: 100%;
        text-align: center;
        background-color: #e9efe9;
    }
    .home-btn-group {
        width: 100%;
        margin-top: var(--dl-space-space-halfunit);
        flex-direction: column;
    }
    .home-button {
        width: 100%;
        align-self: center;
        justify-content: center;
    }
    .home-btn-group1 {
        width: 100%;
        flex-direction: column;
    }
    .home-button1 {
        width: 100%;
        background-image: linear-gradient(180deg, rgba(213, 251, 203, 0.24) 1.00%,rgba(73, 144, 54, 0.07) 96.00%);
    }
    .home-text10 {
        left: 0px;
        color: var(--dl-color-gray-black50);
        right: 0px;
        bottom: 0px;
        margin: auto;
        position: absolute;
        text-align: center;
    }
}
